[Unit]
Description=ngrok
After=network.target

[Service]
ExecStart=/usr/bin/ngrokd -log /var/log/ngrok/server.log -log-level INFO -config /etc/ngrok/server.yml
ExecStop=/bin/pkill ngrokd
ExecStartPre=/bin/mkdir -p /var/log/ngrok
KillMode=process
IgnoreSIGPIPE=true
Restart=always
RestartSec=3
Type=simple

[Install]
WantedBy=multi-user.target

